{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block stylesheets %}
    <style>
        #giteEntete {
            background-image: url('https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            height: 350px;
            width:100%;
            opacity: 0.8;
            background-position: center;
            background-repeat:no-repeat;
            background-size:cover;
          }
    </style>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}

<div id="giteEntete">
    <div class="d-flex justify-content-center pt-5">
        <div>
            <h1 class="h1gite text-light">{{ gite.titre }}</h1>         
        </div>
    </div>
</div>

<div>
    <a href="/gite" class="btn btn-secondary m-3">Retour</a>
</div>

<div class="container image mb-5">
    <div class="row g-3">
        <div class="col-6 col-sm-6">
            <a href="/build/photos/upload/{{ gite.image }}" target="_blank">
                <img src="/build/photos/upload/{{ gite.image }}" style="width: 100%; height: 100%; border-top-left-radius: 20px; border-bottom-left-radius: 20px;"/>
            </a>
        </div>
        <div class="col-3 col-sm-3">
            <a href="/build/photos/upload/{{ gite.image }}" target="_blank">
                <img class="mb-3" src="/build/photos/upload/{{ gite.image }}" style="max-width: 100%; max-height: 100%;"/>
            </a>
            <a href="/build/photos/upload/{{ gite.image }}" target="_blank">
                <img src="/build/photos/upload/{{ gite.image }}" style="max-width: 100%; max-height: 100%;"/>
            </a>
        </div>
        <div class="col-3 col-sm-3">
            <a href="/build/photos/upload/{{ gite.image }}" target="_blank">
                <img class="mb-3" src="/build/photos/upload/{{ gite.image }}" style="max-width: 100%; max-height: 100%; border-top-right-radius: 20px;"/>
            </a>
            <a href="/build/photos/upload/{{ gite.image }}" target="_blank">
                <img src="/build/photos/upload/{{ gite.image }}" style="max-width: 100%; max-height: 100%; border-bottom-right-radius: 20px;"/>
            </a>
        </div>
    </div>
    <hr class="my-5">
</div>


<div class="container my-4" style="color: black;">
    <div class="row">

        <div class="col-8 col-sm-8 text-start">
            <h2 class="mb-3">Description</h2>
            <div class="d-flex mb-5" style="height: 20px; width:auto; color: gold; opacity: 0.6">
                {% if gite.note != null %}
                    {% if gite.note == 1 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    {% endif %}
                    {% if gite.note == 2 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    {% endif %}
                    {% if gite.note == 3 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    {% endif %}
                    {% if gite.note == 4 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    {% endif %}
                    {% if gite.note == 5 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    {% endif %}
                {% endif %}
            </div>
            <p>{{ gite.description }}</p>           
        </div>

        <div class=" col-4 col-sm-4 text-end">
            <a href="/register" class="btn btn-dark mb-2">Réserver</a><br>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Demande de contact</button>
        </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin:auto">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="margin: auto;">
                    <h5 class="modal-title" id="exampleModalLabel">Formulaire de contact</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Numéro de Gîte</label>
                            <input type="number" class="form-control text-center" id="exampleFormControlInput1" value="{{ gite.id }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Votre Email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="votre@email.fr" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Votre message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Votre message. . ." required></textarea>
                        </div>
                        <div class="my-2">
                            <button type="button" class="btn btn-danger mx-2" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-secondary">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div> 
    <hr class="my-5">
    <div class="row">
        <h2 class="mb-5">Ce que propose ce gîte</h2>
        <div class="  col-md-12   col-sm-4">
            {% for giteOptionPrix in gite.giteOptionPrixes %}
                <div class="d-inline-block col-4 mb-2"><i class="{{ giteOptionPrix.idOption.type }}" aria-hidden="true"></i> {{ giteOptionPrix.idOption }} </div>
            {% endfor %}
        </div>
    </div>
    <hr class="my-5">

    <div class="row mt-5">
        <div class="col-12 col-sm-12">
            <h2 class="mb-3">Localisation</h2>
            <iframe class="col-12 col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92947.66782321839!2d5.310608743859048!3d43.28044890786244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9bf4344da5333%3A0x40819a5fd970220!2sMarseille!5e0!3m2!1sfr!2sfr!4v1648475427031!5m2!1sfr!2sfr" width="500" height="200" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{% endblock %}