{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block stylesheets %}
    <style>
        #giteEntete {
            background-image: url('https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            height: 350px;
            width:100%;
            opacity: 0.8;
            background-position: center;
            background-repeat:no-repeat;
            background-size:cover;
          }
    </style>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}

<div id="giteEntete">
    <div class="d-flex justify-content-center pt-5">
        <div>
            <h1 class="h1gite text-light">{{ gite.titre }}</h1>         
        </div>
    </div>
</div>

<div>
    <a href="/gite" class="btn btn-secondary m-3">Retour</a>
</div>

<div class="container image mb-5">
    <div class="row g-3">
        <div class="col-6 col-sm-6">
            <a href="{{ asset('/build/photos/pexels-pixabay-259588.jpg') }}" target="_blank">
                <img src="{{ asset('/build/photos/pexels-pixabay-259588.jpg') }}" style="width: 100%; height: 100%; border-top-left-radius: 20px; border-bottom-left-radius: 20px;"/>
            </a>
        </div>
        <div class="col-3 col-sm-3">
            <a href="{{ asset('/build/photos/pexels-pixabay-259588.jpg') }}" target="_blank">
                <img class="mb-3" src="{{ asset('/build/photos/pexels-pixabay-259588.jpg') }}" style="max-width: 100%; max-height: 100%;"/>
            </a>
            <a href="{{ asset('/build/photos/pexels-pixabay-259588.jpg') }}" target="_blank">
                <img src="{{ asset('/build/photos/pexels-pixabay-259588.jpg') }}" style="max-width: 100%; max-height: 100%;"/>
            </a>
        </div>
        <div class="col-3 col-sm-3">
            <a href="{{ asset('/build/photos/pexels-pixabay-259588.jpg') }}" target="_blank">
                <img class="mb-3" src="{{ asset('/build/photos/pexels-pixabay-259588.jpg') }}" style="max-width: 100%; max-height: 100%; border-top-right-radius: 20px;"/>
            </a>
            <a href="{{ asset('/build/photos/pexels-pixabay-259588.jpg') }}" target="_blank">
                <img src="{{ asset('/build/photos/pexels-pixabay-259588.jpg') }}" style="max-width: 100%; max-height: 100%; border-bottom-right-radius: 20px;"/>
            </a>
        </div>
    </div>
    <hr class="my-5">
</div>


<div class="container my-4" style="color: black;">
    <div class="row">

        <div class="col-8 col-sm-8 text-start">
            <h2 class="mb-3">Description</h2>
            <p>{{ gite.description }}</p>           
        </div>

        <div class=" col-4 col-sm-4 text-end">
            <a href="/register" class="btn btn-dark mb-2">Réserver</a><br>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Demande de contact</button>
        </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin:auto">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="margin: auto;">
                    <h5 class="modal-title" id="exampleModalLabel">Formulaire de contact</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Numéro de Gîte</label>
                            <input type="number" class="form-control text-center" id="exampleFormControlInput1" value="{{ gite.id }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Votre Email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="votre@email.fr" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Votre message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Votre message. . ." required></textarea>
                        </div>
                        <div class="my-2">
                            <button type="button" class="btn btn-danger mx-2" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-secondary">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div> 
    <hr class="my-5">
    
    <div class="row">
        <h2 class="mb-5">Ce que propose ce gîte</h2>
        <div class="col-2 col-sm-2 col-lg-1">
            <div class="mb-2">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; width: 24px; fill: currentcolor;"><path d="m15.9999 20.33323c2.0250459 0 3.66667 1.6416241 3.66667 3.66667s-1.6416241 3.66667-3.66667 3.66667-3.66667-1.6416241-3.66667-3.66667 1.6416241-3.66667 3.66667-3.66667zm0 2c-.9204764 0-1.66667.7461936-1.66667 1.66667s.7461936 1.66667 1.66667 1.66667 1.66667-.7461936 1.66667-1.66667-.7461936-1.66667-1.66667-1.66667zm.0001-7.33323c3.5168171 0 6.5625093 2.0171251 8.0432368 4.9575354l-1.5143264 1.5127043c-1.0142061-2.615688-3.5549814-4.4702397-6.5289104-4.4702397s-5.5147043 1.8545517-6.52891042 4.4702397l-1.51382132-1.5137072c1.48091492-2.939866 4.52631444-4.9565325 8.04273174-4.9565325zm.0001-5.3332c4.9804693 0 9.3676401 2.540213 11.9365919 6.3957185l-1.4470949 1.4473863c-2.1746764-3.5072732-6.0593053-5.8431048-10.489497-5.8431048s-8.31482064 2.3358316-10.48949703 5.8431048l-1.44709488-1.4473863c2.56895177-3.8555055 6.95612261-6.3957185 11.93659191-6.3957185zm-.0002-5.3336c6.4510616 0 12.1766693 3.10603731 15.7629187 7.9042075l-1.4304978 1.4309874c-3.2086497-4.44342277-8.4328305-7.3351949-14.3324209-7.3351949-5.8991465 0-11.12298511 2.89133703-14.33169668 7.334192l-1.43047422-1.4309849c3.58629751-4.79760153 9.31155768-7.9032071 15.7621709-7.9032071z"></path></svg>
            </div>
            <div class="mb-2">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; width: 24px; fill: currentcolor;"><path d="M26 1a5 5 0 0 1 5 5c0 6.389-1.592 13.187-4 14.693V31h-2V20.694c-2.364-1.478-3.942-8.062-3.998-14.349L21 6l.005-.217A5 5 0 0 1 26 1zm-9 0v18.118c2.317.557 4 3.01 4 5.882 0 3.27-2.183 6-5 6s-5-2.73-5-6c0-2.872 1.683-5.326 4-5.882V1zM2 1h1c4.47 0 6.934 6.365 6.999 18.505L10 21H3.999L4 31H2zm14 20c-1.602 0-3 1.748-3 4s1.398 4 3 4 3-1.748 3-4-1.398-4-3-4zM4 3.239V19h3.995l-.017-.964-.027-.949C7.673 9.157 6.235 4.623 4.224 3.364l-.12-.07zm19.005 2.585L23 6l.002.31c.045 4.321 1.031 9.133 1.999 11.39V3.17a3.002 3.002 0 0 0-1.996 2.654zm3.996-2.653v14.526C27.99 15.387 29 10.4 29 6a3.001 3.001 0 0 0-2-2.829z"></path></svg>
            </div>
            <div class="mb-2">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; width: 24px; fill: currentcolor;"><path d="M25 1a2 2 0 0 1 1.995 1.85L27 3v26a2 2 0 0 1-1.85 1.995L25 31H7a2 2 0 0 1-1.995-1.85L5 29V3a2 2 0 0 1 1.85-1.995L7 1zm0 10H7v18h18zm-15 2a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM25 3H7v6h18zM10 5a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path></svg>
            </div>
            <div class="mb-2">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; width: 24px; fill: currentcolor;"><path d="M29 3a2 2 0 0 1 1.995 1.85L31 5v22a2 2 0 0 1-1.85 1.995L29 29H3a2 2 0 0 1-1.995-1.85L1 27V5a2 2 0 0 1 1.85-1.995L3 3zm0 2H3v22h26zm-6 2v18H5V7zm-2 2H7v14l3 .001a4.975 4.975 0 0 1-.992-2.721L9 20v-3h10v3a4.978 4.978 0 0 1-1 3.001L21 23zm-4 10h-6v1a3 3 0 0 0 2.65 2.98l.174.015L14 23a3 3 0 0 0 2.995-2.824L17 20zm9-8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-4a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path></svg>
            </div>
        </div>
        <div class="col-4 col-sm-4 col-lg-2">
            <div class="mb-2">Wifi</div>
            <div class="mb-2">Cuisine</div>
            <div class="mb-2">Réfrigérateur</div>
            <div class="mb-2">Four - micro-ondes</div>
        </div>
        <div class="col-2 col-sm-2 col-lg-1">
            <div class="mb-2">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; width: 24px; fill: currentcolor;"><path d="M14 27l-.005.2a4 4 0 0 1-3.789 3.795L10 31H4v-2h6l.15-.005a2 2 0 0 0 1.844-1.838L12 27zM10 1c.536 0 1.067.047 1.58.138l.38.077 17.448 3.64a2 2 0 0 1 1.585 1.792l.007.166v6.374a2 2 0 0 1-1.431 1.917l-.16.04-13.554 2.826 1.767 6.506a2 2 0 0 1-1.753 2.516l-.177.008H11.76a2 2 0 0 1-1.879-1.315l-.048-.15-1.88-6.769A9 9 0 0 1 10 1zm5.692 24l-1.799-6.621-1.806.378a8.998 8.998 0 0 1-1.663.233l-.331.008L11.76 25zM10 3a7 7 0 1 0 1.32 13.875l.331-.07L29 13.187V6.813L11.538 3.169A7.027 7.027 0 0 0 10 3zm0 2a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm0 2a3 3 0 1 0 0 6 3 3 0 0 0 0-6z"></path></svg>            </div>
            <div class="mb-2">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; width: 24px; fill: currentcolor;"><path d="M9 29v-2h2v-2H6a5 5 0 0 1-4.995-4.783L1 20V8a5 5 0 0 1 4.783-4.995L6 3h20a5 5 0 0 1 4.995 4.783L31 8v12a5 5 0 0 1-4.783 4.995L26 25h-5v2h2v2zm10-4h-6v2h6zm7-20H6a3 3 0 0 0-2.995 2.824L3 8v12a3 3 0 0 0 2.824 2.995L6 23h20a3 3 0 0 0 2.995-2.824L29 20V8a3 3 0 0 0-2.824-2.995z"></path></svg>            </div>
            <div class="mb-2">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; width: 24px; fill: currentcolor;"><path d="M17 1v4.03l4.026-2.324 1 1.732L17 7.339v6.928l6-3.464V5h2v4.648l3.49-2.014 1 1.732L26 11.381l4.026 2.325-1 1.732L24 12.535l-6 3.464 6 3.465 5.026-2.902 1 1.732L26 20.618l3.49 2.016-1 1.732L25 22.351V27h-2v-5.804l-6-3.465v6.929l5.026 2.902-1 1.732L17 26.97V31h-2v-4.031l-4.026 2.325-1-1.732L15 24.66v-6.929l-6 3.464V27H7v-4.65l-3.49 2.016-1-1.732 3.489-2.016-4.025-2.324 1-1.732 5.025 2.901 6-3.464-6-3.464-5.025 2.903-1-1.732L6 11.38 2.51 9.366l1-1.732L7 9.648V5h2v5.803l6 3.464V7.339L9.974 4.438l1-1.732L15 5.03V1z"></path></svg>            </div>
            <div class="mb-2">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; width: 24px; fill: currentcolor;"><path d="M28 2a2 2 0 0 1 1.995 1.85L30 4v24a2 2 0 0 1-1.85 1.995L28 30H4a2 2 0 0 1-1.995-1.85L2 28V4a2 2 0 0 1 1.85-1.995L4 2zM15 13H9v8H4v7h24v-7h-3v4H15zm-3 10a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM28 4H4v15h3v-6a2 2 0 0 1 1.85-1.995L9 11h6a2 2 0 0 1 1.995 1.85L17 13v10h6v-2a2 2 0 0 1 1.85-1.995L25 19h3zM12 19a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-4a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm10-8a3 3 0 1 1 0 6 3 3 0 0 1 0-6zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path></svg>            </div>
        </div>
        <div class="col-4 col-sm-4 col-lg-2">
            <div class="mb-2">Sèche-cheveux</div>
            <div class="mb-2">Télévision</div>
            <div class="mb-2">Climatisation</div>
            <div class="mb-2">Vue panoramique</div>
        </div>
    </div>
    <hr class="my-5">

    <div class="row mt-5">
        <div class="col-12 col-sm-12">
            <h2 class="mb-3">Localisation</h2>
            <iframe class="col-12 col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92947.66782321839!2d5.310608743859048!3d43.28044890786244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9bf4344da5333%3A0x40819a5fd970220!2sMarseille!5e0!3m2!1sfr!2sfr!4v1648475427031!5m2!1sfr!2sfr" width="500" height="200" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{% endblock %}