{% extends 'base.html.twig' %}

{% block title %}Nos gites{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripte %}    
{% endblock  %}

{% block body %}

<div class="entete pt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="first text-center">Les <span style="color: rgba(0, 0, 0, 0.5);">engagements</span> Gîtes
                    Mandarine
                </h2>
            </div>
        </div>
        <div class="row" style="color: rgba(0, 0, 0, 0.5);">
            <div class="col-4 mt-3">
                <img 
                    style="height: 100px; opacity: 80%;"
                    src="{{ asset('/build/photos/kisspng-handshake-clip-art-logo-stock-photography-vector-g-startups-ch-wir-helfen-neugrnderinnen-aus-leide-5d059cac5a7743.7505357115606488763706.png') }}"
                    alt=""
                >
                <p class="mt-3">Gîtes Mandarine, le leader français du tourisme chez l’habitant depuis plus de 50 ans</p>
            </div>
            <div class="col-4 mb-5 mt-3">
                <img style="height: 100px; opacity: 70%;" src="https://cdn-icons-png.flaticon.com/512/13/13979.png" alt="">
                <p class="mt-3">Des hébergements visités et contrôlés selon un référentiel de classement national</p>
            </div>
            <div class="col-4 mb-5 mt-3">
                <img style="height: 100px; opacity: 70%;" src="{{ asset('/build/photos/cltp4g0m565n2gbm2ks5lv6226.png') }}" alt="">
                <p class="mt-3">Des centaines de collaborateurs au sein de nos agences locales à votre service avant, pendant et après votre séjour.</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container col-6 offset-3">
    {{ form_start(form) }}

    <div class="row">
        
            {{ form_row(form.emplacement) }}
            {{ form_row(form.nbchambremin) }}
            <div class="col">
            {{ form_row(form.minPrice) }}
            </div>
            <div class="col">
            {{ form_row(form.maxPrice) }}
            </div>
        

        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn btn-success">Rechercher</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>

<div class="mt-5" style="color: rgba(0, 0, 0, 0.5);">
    <h4>Choisissez parmi nos Gîtes actuellement disponibles !</h4>
</div>

<div class="container mt-2 px-5 py-5 corp">
    <div class="row col">
        {% for gite in gites %}
        <div class="col-xl-4 col-md-6 col-sm-12 my-3 article">
            <div class="card bg-light mb-3" style="height: 500px;">

                <div class="card-header">
                    <strong>{{ gite.emplacement }}</strong><br>
                    <p>{{ gite.nombreDeChambres }} chambres, à partir de <strong>{{ gite.tarifBasseSaison }} € / nuit</strong></p>
                    <div class="d-flex justify-content-center" style="height: 20px; width:auto; color: gold; opacity: 0.6">
                        {% if gite.note != null %}
                            {% if gite.note == 1 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            {% endif %}
                            {% if gite.note == 2 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            {% endif %}
                            {% if gite.note == 3 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            {% endif %}
                            {% if gite.note == 4 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            {% endif %}
                            {% if gite.note == 5 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% if ((gite.id) % 2 == 1) %}
                <a href="/gite/{{ gite.id }}">
                    <img src="/build/photos/upload/{{ gite.image }}"
                        alt="Image de l'annonce {{ gite.titre }}" style="height:200px; width: 100%;" />
                </a>
                {% else %}
                <a href="/gite/{{ gite.id }}">
                    <img src="/build/photos/upload/{{ gite.image }}"
                        alt="Image de l'annonce {{ gite.titre }}" style="height:200px; width: 100%;" />
                </a>
                {% endif %}

                <div class="card-body">
                    <h4 class="card-title">
                        {{ gite.titre|slice(0, 20) }}
                    </h4>
                    <p class="card-text mt-3 mb-4">{{ gite.description|slice(0, 30) }}...</p>
                    <a href="/gite/{{ gite.id }}" class="btn btn-secondary my-2">Voir l'annonce</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {#
    <div class="d-flex justify-content-center mt-3">
        {{ knp_pagination_render(gites, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
    </div>
    #}
</div>
<div id="scrollUp">
    <a href="#top"><img src="{{ asset('/build/photos/to_top.png') }}" /></a>
</div>

{% endblock %}